html {
  scroll-behavior: smooth;
}

#video-background {
  top: 0;
  left: 0;
  height: auto;
}

#video-bg-section {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
}

body {
  background-color:#e6e6e6;
  font-family: 'Jura';
  color: #e6e6e6;
}
nav {position: absolute;z-index:999999999;}

.nav-wrapper .brand-logo img {
  margin-top: 27px;
  height: 60px;
}

.nav-wrapper > ul.center li {
  font-size: 30px;
  padding-top: 25px;
  float: none;
  display: inline-block;
}

.nav-wrapper > ul.center li a{
  font-size: 18px;
}

.title {
  position: absolute;
  top: 35%;
  width: 100%;
  font-size: 5vw;
  letter-spacing: 3px;
  font-family: 'Prata';
  text-align: center;
}

.title > span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  line-height: 24px;
  font-size: 2vw;
}

.title > span a {
  color: #0071bc;
}

a {
  border: none; 
  outline: none; 
}

section {
  height: 100vh;
}

#about {
  color: #000;
  text-transform: none;
  line-height: 1.5;
  font-style: normal;
}

.ig-card {
  height: 100vh;
  margin: 0;
  box-shadow: none;
  background-color: #e6e6e6;
}

.card-image {
  overflow: hidden;
}

#instagram-photo {
  min-height: 90%;
  min-width: 90%;
  filter: grayscale(100%);
}

.card-crop {
  margin-left: 25%;
  margin-top: 70px;
  margin-right: 10%;
  max-height: 83%;
  overflow: hidden;
}

.card-content{  
  font-family: 'Prata';
  margin-right: 15%;
  margin-top: 15%;
}

.ig-card h1 {
  padding-top: 15%;
  font-weight: 500;
  font-size: 4vw;
  letter-spacing: 0em;
}

.ig-card p {
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	letter-spacing: 0em;
	text-transform: none;
	line-height: 2em;
  font-family: 'Jura';
  line-height: 1.5;
}

.card-action a {
  color: #0071bc !important;
}

.mobile-card {
  display: none;
}

#trajectory {
  background-color: black;
}

#trajectory h1 {
  text-align: center;
  font-family: 'Prata';
  padding-top: 15%;
  font-size: 3vw;
  letter-spacing: 0em;
  margin-top: 0px;
}

#trajectory p {
  font-size: 0.8vw;
}

.material-icons {
  font-size: inherit;
  color: #0071bc;
}

#portfolio {
  background-image: url(../img/background3.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

#portfolio h1 {
  font-family: 'Prata';
  margin: 0px;
  text-align: center;
  padding-top: 5%;

}

#video-recommender {
  height: 500px;
  margin-top: 5%;
  background-color: black;
  background-position: center;
  border:2px solid white;
  transition: 1s ease;
}

#port-title {
  margin-top: 50%;
  padding-top: 15px;
}

#port-subtitle {
  margin-top: 0px;
  font-family: 'Lovers Quarrel';
  font-size: 2vw;
}

#portfolio a {
  color: #e6e6e6;
}

#video-recommender:hover {
  color: #000;
  background-color: #e6e6e6;
  border:0px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 1s ease;
}

.page-footer {
  background-color: #000;
}

@media (max-width: 1306px) {
  @media (min-aspect-ratio: 16/9) {
    #video-background {
      width: auto;
      height: 100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-background {
      width: auto;
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  #video-background {
    display: none;
  }
  #video-bg-section {
    background-image: url("../img/cover.jpg");
    background-size: cover;
  }
}

@media (max-width: 1280px) {
  .brand-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-wrapper ul {
    display: none;
  }
}

@media (max-width: 601px) {
  .full-card {
    display: none;
  }

  .mobile-card {
    display: contents;
  }

  .card-crop {
    margin-left: 15%;
    margin-top: 70px;
    margin-right: 15%;
    max-height: 40vh;
    width: auto;
    overflow: hidden;
  }

  .card-content {
    margin-right: 10%;
    margin-left: 10%;
  }

  .ig-card h1 {
    padding-top: 1%;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0em;
  }

  .card-action a {
    margin-left: 11%;
  }

  #trajectory h1 {
    padding-top: 30%;
    font-size: 25px;
  }
  
  #trajectory p {
    font-size: 15px;
    text-align: center;
  }

  #about {
    height: 1200px;
  }

  #trajectory {
    height: 100%;
  }

  .title {
    font-size: 40px;
  }

  .title > span {
    font-size: 15px;
  }
}