/* Pen-specific styles */
* {
  box-sizing: border-box;
}

html, body, div{
  height:100%;
  margin: 0;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

article {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 1rem;
}

div a.active {
    background-color: #4CAF50;
    color: white;
}

div a:hover:not(.active) {
    background-color: #555;
    color: white;
}


#container{
  height:100%;
  width:100%;
  font-size:0;
  margin:0;
  padding: 0;
}
.item{
  display:inline-block;
  vertical-align:top;
  background:#ff9e2c;
  height:100%;
  width:50%;
}
.item2{
  display:inline-block;
  vertical-align:top;
  height:100%;
  width:50%;
  background:#b6701e;
}

