body {
	font-size: 13px;
	overflow-x: hidden;
	background-color: #ffffff;
	margin:0 px;
}


h2 {
	margin-bottom:0px;
	color: #000000;
}

.underline{
	text-align:center;
	margin-top:15px;
	margin-bottom:30px;
	}

.bg-black{
	background-color: #000000;
	}
.bg-white{
	background-color: #f5f5f5;
}

.nomepessoa{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom:0px;
}

.subpessoa{
	font-size:14px;
	text-align: center;
	font-weight: normal;
}


p.small{
	line-height:100%;
	}

.title{
	text-align:center;
	color:white;
	}

.titleblack{
	text-align:center;
	color:black;
	}

/* ===========================
   ========= Buttons =========
   =========================== */
.peImg{
    margin-bottom: 20px;
}

.stuffpicture{
	width:250px;
	height:auto;
	background-color:white;
	border-radius:150px;
	border: 2px solid #ff5959;
	margin-bottom:10px;
	}

section.container, section.container-fluid{
	padding-bottom:80px;
	}

.twoimg{
	margin-bottom: 60px;
}

.partone{
	margin-top: 15px;
	margin-bottom: 15px;
}

.linhaTempo{
	margin-bottom: 30px;
}

.mex{
	margin-top:30px;
	margin-right: 15px;
}

.basicUl{
	list-style: none;
	padding-left: 0;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.textbox{
    border: 1px solid #000000;
}